
#quiz {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #darkred;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


#quiz h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
}


#questions {
  margin-bottom: 20px;
}


#questions h3 {
  font-size: 20px;
  margin-top: 0;
}


#questions label {
  display: block;
  margin-bottom: 10px;
}



#score {
  font-size: 20px;
  text-align: center;
}
